﻿@model List<Questionnaire>
@{
    ViewData["Title"] = "Answers";
}

@foreach (var item in Model)
{
    <div class="row">
        @Html.LabelFor(modelItem => item.RespondentId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(modelItem => item.RespondentId, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row">
        @Html.LabelFor(modelItem => item.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    @foreach (var question in item.Questions)
    {
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => question.QuestionNr, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(modelItem => question.Question, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        // RadioButton
        if (question.QuestionType == "RadioButton")
        {
            question.RadioButtonAnswerNr = question.RadioButtonAnswer.Substring(0, 1);
            question.RadioButtonAnswer = question.RadioButtonAnswer.Substring(2);
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => question.RadioButtonAnswerNr, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(modelItem => question.RadioButtonAnswer, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        }
        // CheckBox
        @foreach (var answer in question.AnswerPossibilities)
        {   
            if (answer.Selected == true)
            {
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-1">
                        @Html.DisplayFor(modelItem => answer.AnswerNr, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(modelItem => answer.Answer, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            }
        }

    }
    <br /><br />
}