﻿@model Questionnaire
@{
    ViewData["Title"] = "Feedback";
}

@using (Html.BeginForm())
{    
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SurveyId)
    @Html.HiddenFor(model => model.Company)
    @Html.HiddenFor(model => model.EmailAddress)
    @Html.HiddenFor(model => model.Team)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.Description)
    
    <div class="form-horizontal">        
        
        <h3>@Html.EditorFor(model => model.Guideline, new { htmlAttributes = new { @readonly = "readonly", @class = "col-md-12" } })</h3>
        
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(modelItem => Model.RespondentId, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(modelItem => Model.RespondentId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(modelItem => Model.Name, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(modelItem => Model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            @Html.HiddenFor(model => model.Questions[i].QuestionType)
            <div class="row">
                <div class="col-md-1">@Html.TextBoxFor(model => model.Questions[i].QuestionNr, Model.Questions[i].QuestionNr.ToString(), new { @readonly = "readonly" })</div>
                <div class="col-md-11">@Html.TextBoxFor(model => model.Questions[i].Question, Model.Questions[i].Question, new { @readonly = "readonly", @style = "width:100%;" })</div>
            </div>
            @for (int j = 0; j < Model.Questions[i].AnswerPossibilities.Count; j++)
            {
                @Html.HiddenFor(model => model.Questions[i].AnswerPossibilities[j].AnswerNr)
                if (Model.Questions[i].QuestionType == "RadioButton")
                {
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-1">@Html.RadioButtonFor(model => model.Questions[i].RadioButtonAnswer, Model.Questions[i].AnswerPossibilities[j].AnswerNr + "." + Model.Questions[i].AnswerPossibilities[j].Answer)</div>
                        <div class="col-md-10">@Html.TextBoxFor(model => model.Questions[i].AnswerPossibilities[j].Answer, Model.Questions[i].AnswerPossibilities[j].Answer, new { @readonly = "readonly", @style = "width:100%;" })</div>
                    </div>
                }
                if (Model.Questions[i].QuestionType == "CheckBox")
                {
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-1">@Html.CheckBoxFor(model => model.Questions[i].AnswerPossibilities[j].Selected, Model.Questions[i].AnswerPossibilities[j].Selected)</div>
                        <div class="col-md-10">@Html.TextBoxFor(model => model.Questions[i].AnswerPossibilities[j].Answer, Model.Questions[i].AnswerPossibilities[j].Answer, new { @readonly = "readonly", @style = "width:100%;" })</div>
                    </div>
                }
            }
        }
        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


